---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
    {
        title: "Complementa tu negocio con IA",
        description:
          "Potenciamos los servicios junto con Inteligencia Artificial para incrementar la productividad.",
        icon: "bx:bxs-briefcase",
    },
    {
        title: "Escala sin frontera",
        description:
          "Aseguramos que los servicos escalen para todos tus usuarios.",
        icon: "bx:bxs-window-alt",
    },
    {
        title: "Apps rápidas, eficiente y elegante",
        description:
          "Ofrecemos un diseño minimalista, claro y conciso.",
        icon: "bx:bxs-data",
    },
    {
        title: "Apps móviles y Web",
        description:
          "También ofrecemos servicio de creacion de paginas web y aplicacion móviles.",
        icon: "bx:bxs-bot",
    },
    {
        title: "Generencia desde cualquier parte del mundo",
        description:
          "Puedes acceder a la informacion de tu empresa desde cualquier parte del mundo.",
        icon: "bx:bxs-file-find",
    },
    {
        title: "Servicios para micro y macro empresas",
        description:
          "Si eres una start-up o una empresa ya establecida, nosotros nos encargamos de digitalizar tu empresa.",
        icon: "bx:bxs-user",
    },
];
---

<div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Todo lo que necesitas para tu negocio
    </h2>
    <p class="text-lg mt-4 text-slate-600">
        Tenemos las herramientas necesarias para impulsar tu negocio al siguiente nivel.
    </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
        features.map((item) => (
          <div class="flex gap-4 items-start">
              <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
                  <Icon class="text-white" name={item.icon} />
              </div>
              <div>
                  <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
                  <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
          </div>
        ))
    }
</div>
